<div class="dialog-container">
  <div class="input-field">
    <p class="dialog-title">Fill user details</p>
    <div class="add-name">
      <p class="title-text">Name</p>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Add name"
          (input)="onNameInputChange($event)"
        />
      </mat-form-field>
    </div>

    <div class="add-description">
      <p class="title-text">Description</p>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Add description"
          (input)="onDescriptionInputChange($event)"
        />
      </mat-form-field>
    </div>

    <div class="add-team">
      <p class="title-text">Team</p>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Add team"
          (input)="onTeamInputChange($event)"
        />
      </mat-form-field>
    </div>

    <div class="add-date-started">
      <p class="title-text">Date Started</p>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Add date"
          (input)="onDateStartedInputChange($event)"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="buttons">
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-button (click)="addUser()" [disabled]="userFieldsIncomplete()">
      Add user
    </button>
  </div>
</div>
