<div class="dialog-container">
  <div class="input-field">
    <h6>Fill user details</h6>
    <div class="add-name">
      <h6 class="title-text">Name</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add name" />
      </mat-form-field>
    </div>

    <div class="add-description">
      <h6 class="title-text">Description</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add description" />
      </mat-form-field>
    </div>

    <div class="add-team">
      <h6 class="title-text">Team</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add team" />
      </mat-form-field>
    </div>

    <div class="add-date-started">
      <h6 class="title-text">Date Started</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add date" />
      </mat-form-field>
    </div>

    <div class="add-date-started">
      <h6 class="title-text">Date Started</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add date" />
      </mat-form-field>
    </div>
  </div>

  <div class="buttons">
    <button mat-button>Cancel</button> <button mat-button>Add user</button>
  </div>
</div>
