<div class="dialog-container">
  <div class="input-field">
    <div class="add-name">
      <h6>Name</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add name" />
      </mat-form-field>
    </div>

    <div class="add-description">
      <h6>Description</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add description" />
      </mat-form-field>
    </div>

    <div class="add-team">
      <h6>Team</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add team" />
      </mat-form-field>
    </div>

    <div class="add-date-started">
      <h6>Date Started</h6>
      <mat-form-field>
        <input matInput type="text" placeholder="Add date" />
      </mat-form-field>
    </div>
  </div>
</div>
