.data-table {
  overflow: auto;
  height: 100%;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.table-container {
  height: 100%;
  position: relative;
}

// .mat-header-row, .mat-row {
//   min-height: 30px;
// }

.mat-mdc-row:hover {
  background-color: rgb(247, 246, 246);
  cursor: pointer;
}

.mat-mdc-header-row {
  background-color: #ffffff;
}

.mat-mdc-row {
  background-color: #ffffff;
}

mat-paginator {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
}
