.data-table {
  overflow: auto;
  height: 100%;
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.shit {
  height: 100%;
  position: relative;
}

// .mat-header-row, .mat-row {
//   min-height: 30px;
// }

mat-paginator {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
