.tasks-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 100%;
  width: 100%;
}

.task-list-wrapper {
  width: 75%;
  height: 75%;
}

mat-form-field {
  width: 300px;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
