@use "@angular/material" as mat;

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  height: 100%;
  width: 100%;
}

.table-wrapper {
  background-color: #ffffff;
  width: 75%;
  height: 75%;
  //   overflow: hidden;
}

.input-field {
  display: flex;
  width: 75%;
  // background-color: red;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  width: 300px;
}

button {
  margin-right: 1%;
}
