.task-list-container {
  height: 100%;
  width: 100%;
  // background-color: cyan;
  display: flex;
  flex-direction: column;
  // align-items: center;
  overflow: auto;
}

details-drawer {
  height: 100%;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background-color: azure;
}

app-task-card:hover {
  cursor: pointer;
}
